:root {
  --gradient-color: linear-gradient(
    to left bottom,
    #3333ff,
    #442cf5,
    #5025eb,
    #581de2,
    #5f13d8,
    #7c14d2,
    #911bcc,
    #a324c6,
    #c341c3,
    #dc5dc3,
    #f07bc6,
    #ff99cc
  );

  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --default-font-color: #f0dfdf;
  --primary-color: #741a9e;
  --secondary-color: #5f13d8;
  --tertiary-color: #e285e2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: #442cf5;
}

html {
  display: block;
  text-align: center;
  padding:0;
}

h1,
h2,
h3 {
  color: var(--default-font-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.main-content,
.main-text  {
  text-align: center;
  padding: 20px;
  font-size: 28px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  font-weight: normal;
}

.developer {
  background: var(--gradient-color);
  text-align: center;
  padding: 160px 20px;
}
.developer h1 {
  font-size: 90px;
  font-weight: bold;
  margin: 0;
}

.developer h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 55px;
  margin-top: 20px;
}
.developer h3 {
  font-size: 30px;
  margin-top: 15px;
  opacity: 0.8;
}

.about-text {
  margin: 30px 0;
  font-family: var(--heading-font-family);
  display: block;
  line-height: 1.5;
}

.about-text h1 {
  font-size: 65px;
  margin-bottom: 25px;
  color: var(--primary-color);
}
.about-text h3 {
  color: #000;
}

.contact-link,
.about-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--tertiary-color);
  box-shadow: var(--box-shadow);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--default-font-color);
}
.navigation-links {
  display: block;
  margin-top: 100px;
}
.contact-link:hover,
.about-link:hover {
  background-color: var(--default-font-color);
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

.email-image {
  width: 50px;
}
.contact-me,
.email {
  font-size: 30px;
  display: block;
}
#contact-me {
  color: var(--primary-color);
  font-size: 45px;
  padding: 60px 60px;
}
.email {
  text-decoration: none;
  color: var(--primary-color);
}

.email:hover {
  text-decoration: underline;
  color: var(--tertiary-color);
}



.container p {
  line-height: 1.5;
  font-size: 20px;
  font-family: var(--default-font-family);
}

.container h2 {
  font-size: 40px;
  color: var(--secondary-color);
}

.row img {
  margin-top: 50px;
  display: block;
}

.primary-link {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--default-font-color);
  border: 1px solid var(--);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.primary-link:hover {
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
  background-color: var(--default-font-color);
}

footer{
  background: var(--gradient-color);
  padding:30px 30px; 
  margin-top:60px;
  font-family: var(--default-font-family);
  text-align:center;
 display:block;
  font-size:15px;
}

.footer-home,
.footer-contact,
.footer-about,
.text-center{
  text-decoration: none;
  color: var(--default-font-color);
 
}

.fa-linkedin,
.fa-square-github {
  font-size: 50px;
  margin: 25px;
  margin-bottom:100px;
  color: var(--primary-color);
}

.fa-linkedin:hover,
.fa-square-github:hover{
  color:var(--secondary-color);
  transition:all 200ms ease-in-out;
}


@media (max-width: 650px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }

  h2 {
    font-size: 25px;
  }

  .developer {
    padding: 80px 20px;
  }

  .main-content {
    padding: 0;
    text-align: center;
  }
    .about-text img,
    .main-text img{
    display:none;

}

.contact-link,
.about-link{
  margin:8px 8px;
  padding:10px 10px;
}

.container p{
  font-size:15px;
}

}